$subnav-color:                      $color-gray-base !default;
$subnav-color-hover:                $color-white !default;
$subnav-color-border-color:         $color-gray-darker !default;
$subnav-color-background:           $color-gray-dark !default;
$subnav-color-background-hover:     $color-primary !default;
$subnav-color-background-active:    $color-black !default;
$subnav-font-size:                  $font-size-small !default;
$subnav-spacing:                    3px 8px 6px !default;
$subnav-header-spacing:             $header-size !default;

.subnav {
    &-list {
        display: flex;
        position: fixed;
        top: $subnav-header-spacing;
        right: 0;
        left: 0;
        width: 100vw;
        margin-top: -1px; // TODO: fix ?
        border-bottom: 1px solid $subnav-color-border-color;
        flex-wrap: wrap;
        justify-content: center;
        background: $subnav-color-background;
        font-size: $subnav-font-size;
    }

    &-item {}

    &-link {
        display: block;
        padding: $subnav-spacing;
        color: $subnav-color;

        &:hover {
            background-color:$subnav-color-background-hover;
            color: $subnav-color-hover;
        }

        &--active {
            background-color: $subnav-color-background-active;
        }
    }
}
