{% if page.hasChildren() %}
    <ul class="subnav-list">
        {% for child in page.parents().children() %}
            <li class="subnav-item">
                <a href="{{child.url}}" class="subnav-link {% if child.isOpen %}subnav-link--active{% endif %}">
                    {{child.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
