
<nav class="metanav" role="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="metanav-list">
                    {% for item in pages.find('meta', 'meta') %}
                        {% set children = item.children.listed() %}
                        {% if children.count > 0 %}
                            {% for child in children %}
                                <li class="metanav-item">
                                    <a class="metanav-link {% if child.isOpen %}metanav-link--active{% endif %}" title="{{children.title}}" href="{{child.url}}">
                                        {{child.title}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>
