/* METANAVIGATION
============================================================================ */

$metanav-font-size:                 $font-size-medium !default;
$metanav-transition:                all 0.3s !default;
$metanav-color:                     $color-gray-light !default;
$metanav-color-background:          $color-gray-darker !default;
$metanav-color-hover:               $color-primary !default;
$metanav-color-focus:               $color-primary-dark !default;
$metanav-color-active:              $color-gray-lighter !default;
$metanav-color-background-active:   $color-gray-darkest !default;

.metanav {
    background-color: $color-gray-darker;

    &-list {
        padding: $spacing-medium 0;

        @include mq($from: sm) {
            display: flex;
            padding: 0;
        }
    }

    &-link {
        display: block;
        margin-bottom: $spacing-tiny;
        padding: $spacing-small 15px;
        color: $metanav-color;
        font-size: $metanav-font-size;
        transition: $metanav-transition;

        @include mq($from: sm) {
            display: flex;
            margin: 0;
        }

        &:hover,
        &:focus,
        &--active {
            color: $metanav-color-active;
        }

        &--active {
            background-color: $metanav-color-background-active;
        }

        &:hover {
            background-color: $metanav-color-hover;
        }

        &:active,
        &:focus {
            background-color: $metanav-color-focus;
        }
    }
}
