.searchForm {
    &-input {
        border-color: $color-gray--light !important;
        transform: scale(1) !important;
        box-shadow: 0 0 0 0 black !important;

        &:hover,
        &:focus,
        &:active {

            border-color: $color-gray--darker !important;
                transform: scale(1) !important;
                box-shadow: 0 0 0px 0px black !important;


            + .searchForm-inputIcon {
                right: 10px;
            }

        }

        &:focus,
        &:active {

            border-color: $color-primary--light !important;


        }

    }
    &-results {
      margin-top: 50px;
  }

  &-resultsList {

  }

  &-resultsItem {
      // margin-bottom: 20px;
      background-color: $color-gray--darker;
      border-bottom: 1px solid $color-gray--dark;
      position: relative;
      background-color: $color-white;
      padding: 20px 25px;
      padding-right: 50px;
      transition: all .3s;
      color: $color-black;
      &:before {
          position: absolute;
          left: -20px;
          content: "";
          width: 0;
          height: 0;
          top: 4px;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          position: relative;
          z-index: 1;
          border-left: 30px solid #111;
          transition: all .3s;
      &--change {
          background-color: $color-primary--dark !important;
      }
      &:after {
          content: "";
          left: 0;
          height: 100%;
          transition: all .3s;
          width: 0;
          display: block;
          /* height: 200px; */
          background: $color-gray--lighter;
          top: 0;
          bottom: 0;
          /* left: 0; */
          position: absolute;
      }
      &:hover {
          //margin-right: -50px;
          //padding-right: 0px;
          padding-left: 35px;
          &:before {
              left: 0;

          }
          &:after {
              width: 100%;
          }
      }
  }

  &-resultsLink {
      position: relative;
      z-index: 1;
  }

  }
}








