<!doctype html>
<html lang="{{ kirby.language() }}">
<head>

    {% include "@snippets/shared/skeleton/meta/meta.twig" %}

</head>
<body class="theme--{% if theme is defined %}{{theme}}{% endif %}">
<div class="load">
<div class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
</div>


    {% embed "@snippets/shared/skeleton/header/header.twig" %}
        {% block navigation %}
            {% include '@snippets/shared/skeleton/navigation/navigation.twig' %}
        {% endblock %}
        {% block search %}
            {% include '@snippets/shared/skeleton/search/search.twig' %}
        {% endblock %}
    {% endembed %}

    <main class="main">

    {% block full %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block main %}
                    {% endblock %}

                    {% if page.sitemodule is not empty %}
                        {% set pageSiteModule = "@snippets/shared/module/" ~ page.sitemodule ~ "/" ~ page.sitemodule ~ ".twig" %}
                        {% include pageSiteModule %}
                    {% endif %}

                </div>
            </div>
             </div>
    {% endblock %}
        </main>

    {% include "@snippets/shared/skeleton/metanavigation/metanavigation.twig" %}

    {# Include non shared footer with own content #}
    {% include "@snippets/import-from-shared/skeleton/footer.twig" %}

    <script>
        window.addEventListener("load", () => {
            document.querySelector("body").classList.add("loaded");
        });
    </script>

</body>
</html>


