.searchresulsts {
    display: flex;
    flex-direction: column;

    > .row {
        display: flex;
        flex-wrap: wrap;
        // TODO: change grid to flex or css grid
    }

    &--active {
        .search {
            margin-bottom: $spacing-huge;
            flex: initial;
        }
    }

    &-link {
        display: block;
        position: relative;
        margin-bottom: $spacing-medium;
        transition: all 0.3s;

        &--childpages {
            @extend %sfxMultiBoxes;
        }

        &:hover {
            box-shadow: 0 0 40px $color-gray-darker;
            transform: scale(1.05);
            z-index: 999;
        }
    }

    &-inner {
        background: $color-gray-lighter;

        @include mq($from: md) {
            min-height: 300px;
        }
    }

    &-imagewrapper {
        height: 200px;
    }

    &-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }

    &-fallbackimage {
        height: 200px;
        background-color: $color-gray-light;
    }

    &-content {
        padding: $spacing-medium;
    }

    &-title {
        color: $color-gray-darker;
    }

    &-subtitle {
        color: $color-gray-light;
        font-size: $font-size-small;
    }

    &-text {
        color: $color-gray-dark;
        font-size: $font-size-small;
    }
}
