
<div class="searchresulsts {% if results is not empty %}searchresulsts--active{% endif %}">

    {% embed '@snippets/shared/skeleton/search/search.twig' %}
        {% block searchTitle %}
            {% if results is empty %}
                {% if query is empty %}
                    Suche nach den passenden Karten<span></span>
                    in über <strong>{{site.index.listed.count}} Seiten</strong> nach...
                {% else %}
                    Es konnten leider keine Ergebnisse zu <strong>"{{ query }}"</strong> gefunden werden.
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% if results is not empty %}
        <ul class="row">

            {% for results in results %}
                <li class="col-xs-12 col-md-6 col-xl-3">
                    <a href="{{results.url}}" class="searchresulsts-link {% if results.hasChildren %}searchresulsts-link--childpages{% endif %}">
                        <div class="searchresulsts-inner">
                            <div class="searchresulsts-imagewrapper">
                                {% if results.image.url is defined %}
                                    <img class="searchresulsts-image" src="{{results.image.crop(300,200).url }}">
                                {% else %}
                                    <div class="searchresulsts-fallbackimage"></div>
                                {% endif %}
                            </div>
                            <div class="searchresulsts-content">
                                <div class="searchresulsts-title">
                                    {{results.title}}
                                </div>
                                <div class="searchresulsts-subtitle">
                                    /{% for parents in results.parents %}{{parents.slug}}/{% endfor %}{{results.slug}}
                                </div>
                                {#
                                <div class="searchresulsts-text">
                                    {{ results.story | length > 50 ? results.story | slice(0, 50) ~ '...' : results.story  }}
                                </div>
                                #}
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

        </ul>
    {% endif %}

</div>
