<nav class="ankermenu ankermenu--fixed">
    <div class="ankermenu-menu">
        <button class="ankermenu-menuItem" type="button">
            <i class="material-icons">sort</i>
        </button>
    </div>
    <div class="ankermenu-titel">
        Ankerlinks
    </div>
    <ul class="ankermenu-list">
        {% block ankermenu_items %}
            <li class="ankermenu-item">
                <a href="#{{ankermenuID}}" class="ankermenu-link">
                    {{ankermenuText}}
                </a>
            </li>
        {% endblock %}
    </ul>
</nav>
