.ankermenu {
    position: absolute;
    right: 0;
    text-align: right;
    // margin-right: -300px;
    transition: all .8s;

    &--fixed {
       //  margin-right: 0 !important;

    }
    @media #{$medium-and-up} {
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
    }
    &-menu {
        top: 0;
        right: 0;
        position: fixed;
        z-index: 999999;
        @media #{$medium-and-up} {
            display: none;
        }
    }

    &-menuItem {
        font-size: 40px;
        background: none;
        .material-icons {
            color: $color-gray--lighter;
            transform: scaleX(-1);
            text-shadow: 2px 2px 12px $color-gray--darker;
        }
        &:active {
            background: none;
        }
        &:hover {
            .material-icons {
                color: $color-primary;
            }
        }
    }

    &-titel {
        color: $color-gray--lighter;
        @media #{$medium-and-up} {
            display: none;
        }
    }

    &-list {
        @media #{$small-and-down} {
            display: none;
            opacity: 0;
            transition: all .3s;
            background-color: rgba(0, 0, 0, 0.9);
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            left: 0;
            position: fixed;
            padding: 80px 0 20px 20px;
            overflow: scroll;
        }
        &--active {
            @media #{$small-and-down} {
                opacity: 1;

                display: block;


            }
        }

    }

    &-item {
        @media #{$medium-and-up} {
            margin-right: -300px;
            .ankermenu--fixedAktive & {
                margin-right: 0;

            }
            @for $i from 1 through 20 {
                &:nth-of-type(#{$i}) {
                    transition: all (0.10 + ($i / 10) + s);

                }
            }
        }
    }

    &-link {
        background: $color-gray--lighter;
        padding: 5px 20px 5px 10px;
        margin-bottom: 2px;
        display: inline-block;
        color: $color-gray;
        font-size: .8em;
        transition: all .3s;
        &:before {
            content: "# "
        }
        @media #{$medium-and-up} {
            background: $color-gray--darker;
        }

        &:hover,
        &--active {
            padding-right: 40px;
            padding-left: 30px;
            color: $color-gray--lighter;
            background: $color-primary;
            font-weight: bold;
        }
        &--active {
            background: $color-secondary;
            &:hover {
                background: $color-secondary--dark;
            }
        }
        &:active {
            background-color: $color-primary--dark;
            font-weight: bold;
        }

    }
}


@media #{$medium-and-up} {
    .ankermenu--fixedAktive {
        @for $i from 1 through length(#000000) {
            .ankermenu-item {
                &:nth-of-type(#{$i}) {
                    transition: all $i;
                }
            }
        }
    }
}
