/* SEARCH
============================================================================ */

// Shared Variables
$search-font-size:                          $font-size-base !default;
$search-height:                             60px !default;
$search-spacing:                            $spacing-medium ($spacing-medium + $spacing-tiny) !default;
$search-transition:                         all 0.5s !default;
$search-active-scale:                       scale(1.06) !default;
$search-active-shadow:                      0 0 8px 0 $color-gray-darker !default;
$color-input-write:                         $color-gray-lighter !default;

// Input
$search-form-color:                         $color-gray-light !default;
$search-form-color-background:              $color-gray-lighter !default;

$search-form-color-active:                  $color-primary-light !default;
$search-form-color-background-active:       $color-primary !default;

// Title
$search-title-color:                        $color-white !default;
$search-title-font-size:                    $font-size-xlarge !default;
$search-title-font-size-breakpoint:         $font-size-huge !default;

// Button
$search-button-color:                       $color-gray-lighter !default;
$search-button-color-background:            $color-primary !default;
$search-button-color-background-active:     $color-primary-dark !default;

.search {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;

    &-wrapper {
        @include mq($from: sm) {
            padding: 0 5%;
        }

        @include mq($from: md) {
            padding: 0 10%;
        }

        @include mq($from: xl) {
            padding: 0 20%;
        }
    }

    // Title
    &-title {
        margin-bottom: $spacing-medium;
        color: $search-title-color;
        font-size: $search-title-font-size;
        font-weight: $font-weight-lighter;
        line-height: $line-height-base;
        text-align: left;

        @include mq($from: sm) {
            font-size: $search-title-font-size-breakpoint;
        }

        @include mq($from: xl) {
            span {
                display: block;
            }
        }
    }

    // Form
    &-form {
        width: 100%;

        @include mq($from: sm) {
            display: flex;
        }
    }

    &-inner {
        position: relative;
        flex: 1;
    }

    // Inputform
    &-input {
        width: 100%;
        height: $search-height;
        padding: $search-spacing;
        padding-right: 50px;
        border: 1px solid darken($search-form-color-background, 10);
        border-radius: 0;
        background-color: $search-form-color-background;
        outline: none;
        font-size: $search-font-size;
        font-weight: $font-weight-lighter;
        line-height: $line-height-none;
        transition: $search-transition;

        &::placeholder {
            color: $search-form-color;
            font-weight: $font-weight-lighter;
        }

        + .search-icon {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin-right: $spacing-small;
            justify-content: center;
            align-items: center;
            color: $search-form-color;
            font-size: 30px;
            pointer-events: none;
            transition: $search-transition;
        }

        &:hover,
        &:focus,
        &:active {
            box-shadow: $search-active-shadow;
            font-size: $search-font-size;
            transform: $search-active-scale;

            + .search-icon {
                right: -#{$spacing-small};
                color: $color-gray-base;
            }
        }

        &:focus,
        &:active {
            border-color: $search-form-color-active !important;  /* stylelint-disable-line declaration-no-important */
            background-color: $search-form-color-background-active;
            color: $color-input-write;

            &::placeholder {
                color: $search-form-color-active;
            }

            + .search-icon {
                color: $search-form-color-active;
            }
        }
    }

    // Submit Button
    &-submit {
        width: 100%;
        height: $search-height;
        margin-top: $spacing-small;
        padding: $search-spacing;
        background-color: $search-button-color-background;
        color: $search-button-color;
        font-family: $font-family-primary;
        font-size: $search-font-size;
        font-weight: $font-weight-light;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: all $search-transition;

        &:hover {
            background-color: $search-button-color-background-active;
        }

        @include mq($from: sm) {
            width: initial;
            margin-top: 0;
            margin-left: $spacing-tiny;
        }
    }
}
