<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="search-wrapper">
                    <div class="search-title">
                        {% block searchTitle %}
                            Suche nach den passenden Karten<span></span>
                            in über <strong>{{site.index.listed.count}} Seiten</strong> nach...
                        {% endblock %}
                    </div>
                    <form class="search-form" action="{{ pages.find('meta/suche') }}">
                        <div class="search-inner">
                            <input type="search" name="q" value="{% if query is defined  %}{{ esc(query) }}{% endif %}" class="search-input" placeholder="Das ist ein Suchtext">
                            <span class="search-icon material-icons">search</span>
                        </div>
                        <input type="submit" value="Search" class="search-submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
