/* HEADER
============================================================================ */

$header-size:                           60px !default;
$header-size-breakpoint:                50px !default;
$header-spacing:                        $spacing-small !default;
$header-spacing-breakpoint:             $spacing-tiny !default;
$header-background-color:               $color-black !default;
$header-icon-size:                      50px !default;
$header-icon-size-breakpoint:           30px !default;
$header-shadow:                         0 0 80px 30px  $header-background-color !default;
$header-overlay-background:             rgba($color-black, 0.94) !default;

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-size;
    align-items: center;
    transition: background-color 0.8s;
    z-index: $z-index-max;

    @include mq($until: md) {
        height: $header-size-breakpoint;
    }

    &::before {
        content: "";
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0 auto;
        box-shadow: $header-shadow;
        z-index: -1;
    }

    &--background,
    &--background-fix,
    &--background-children {
        border-bottom: 1px solid $color-gray-darker;
        background-color: $header-background-color;
    }

    &-title {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: $color-gray-dark;
        font-size: $font-size-small;
        text-align: center;

        @include mq($until: md) {
            .header--background & {
                display: flex;
            }
        }
    }

    &-logo,
    &-search {
        display: flex;
        width: $header-icon-size;
        justify-content: center;
    }

    &-logo__icon,
    &-search__icon {
        width: $header-icon-size;
        height: $header-icon-size;
        padding: $header-spacing;

        .header-search__icon-search {
            font-size: 30px;
        }

        @include mq($until: md) {
            width: $header-icon-size-breakpoint;
            height: $header-icon-size-breakpoint;
            padding: $header-spacing-breakpoint;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &-logo {
        @include mq($until: xl) {
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-left: 60px;
        }

        @include mq($until: md) {
            display: none;
        }

        &__link {
            font-size: $font-size-medium;
        }
    }

    &-navigation {
        flex: 1;
    }

    &-search {
        z-index: 99;

        &__icon {
            @extend %buttonRemoveStyling;
        }

        &__overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $header-overlay-background;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.5s;
            z-index: 99999;

            &--active {
                pointer-events: auto;
                opacity: 1;
            }
        }

        &__close {
            @extend %buttonRemoveStyling;
            @extend %sfxCloseIcon;

            position: absolute;
            top: $spacing-large;
            right: $spacing-large;
            padding: $spacing-huge;
            z-index: 9999;
        }
    }
}
