<header class="header {% if page.hasChildren() %}header--background-children{% endif %}" id="header">
    <div class="header-logo">
        {% if site.logo.notEmpty %}
            <a href="{{ site.url }}" rel="home" class="header-logo__link" title="Zur Startseite von {{ site.title }}">
                <img class="header-logo__icon" src="{{ site.logo.toFile.url() }}" alt="{{ site.title }}" titel="{{ site.title }}">
            </a>
            <div class="header-title">
                {{ site.title }}
            </div>
        {% endif %}
    </div>
    <div class="header-navigation">
        {% block navigation %}
        {% endblock %}
    </div>
    <div class="header-search">
        <button class="header-search__icon header-icon js-header-search" id="js-header-search-open">
            <span class="header-search__icon-search material-icons">search</span>
        </button>
        <div class="header-search__overlay" id="js-header-overlay">
            <button class="header-search__close" id="js-header-search-close"></button>
            {% block search %}
            {% endblock %}
        </div>
    </div>
</header>

<script>

    // TODO:
    function headerSearchClickToggle() {
        var element = document.getElementById("js-header-overlay");
        element.classList.toggle("header-search__overlay--active");
    }
    document.querySelector('#js-header-search-open').addEventListener('click', headerSearchClickToggle);
    document.querySelector('#js-header-search-close').addEventListener('click', headerSearchClickToggle);


    // TODO:
    const header = document.getElementById("header");
    const headerBackground = "header--background";

    var myScrollFunc = function() {
        var y = window.scrollY;
        if (y > 200) {
            header.classList.add(headerBackground);
        } else {
            header.classList.remove(headerBackground);
        }
    };

    window.addEventListener("scroll", myScrollFunc);
</script>
