$navigation-flyout-color: $color-font-base !default;
$navigation-flyout-color-background: $color-primary !default;


@mixin flyout {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 65px);
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
}

@mixin flyoutinner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background: $navigation-flyout-color-background;
    z-index: -1;
}

@mixin flyoutcontent {
    height: 80vh;

    @include sfxCustomScrollbar;
}
