
    .navigation {

    &-subList {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    &-subItem {
        // width: 33.3333%;
    }

    &-subLink {
        display: block;
        padding: 5px;
        position: relative;
        padding-right: 15px;
        display: inline-flex;
        align-items: center;
        padding-right: 20px;
        margin-right: 10px;

    &--active {

    }

        &:hover {
            color: $color-primary-light;
        }

        &::after,
        &::before {
            position: absolute;
            content: "";
            width: 14px;
            height: 1px;
            background-color: $color-primary-light;
            display: block;
            right: 0;
        }

        &::before {
            transform: rotate(45deg);
            margin-top: -5px;
        }

        &::after {
            transform: rotate(-45deg);
            margin-top: 5px;
        }

    }
}

