<ul class="navigation-subList">
    {% set subchildren = child.children().listed() %}
    {% for subchild in subchildren %}
        <li class="navigation-subItem">
            <a class="navigation-subLink {% if subchild.isOpen %}navigation-subLink--active{% endif %}" href="{{subchild.url}}">
                {{subchild.title}}
            </a>
        </li>
    {% endfor %}
</ul>
