$navigation-child-link-spacing:             $spacing-medium !default;
$navigation-child-link-transition:          all 0.3s !default;
$navigation-child-link-font-size:           $font-size-xlarge !default;
$navigation-child-link-font-weight:         $font-weight-light !default;
$navigation-child-link-color:               $color-white !default;
$navigation-child-link-color-hover:         $color-white !default;
$navigation-child-link-color-background-hover: $color-primary !default;
$navigation-child-text-color:               $color-gray-light !default;
$navigation-child-text-font-size:           $font-size-small !default;
$navigation-child-border:                   1px solid $color-primary-light !default;
@include mq($from: xl) {
.navigation {
    &-childList {
        margin: {
            right: 20px;
            bottom: 100px;
        }
    }

    &-childItem {
        align-items: baseline;
        display: flex;
        margin-bottom: $spacing-small;
        flex-wrap: wrap;
    }

    &-childLink {
        display: block;
        margin-bottom: $spacing-tiny;
        padding: $navigation-child-link-spacing;
        color: $navigation-child-link-color;
        font-size: $navigation-child-link-font-size;
        font-weight: $navigation-child-link-font-weight;
        transition: $navigation-child-link-transition;

        &:hover {
            background-color: $navigation-child-link-color-background-hover;
            color: $navigation-child-link-color-hover;
        }
    }

    &-childText {
        color: $color-gray-light;
        font-size: $font-size-small;

    }

    &-childContent {
        width: calc(30% - 21px);
        margin-bottom: $spacing-medium;
        border-right: $navigation-child-border;
    }
}
}
