<ul class="navigation-childList">
    {% for child in children %}
        <li class="navigation-childItem">
            <div class="navigation-childContent">
                <a class="navigation-childLink {% if child.isOpen %}navigation-childLink--active{% endif %}" href="{{child.url}}">
                    {{child.title}}
                    <div class="navigation-childText">
                        {{ child.navigationtext }}
                    </div>
                </a>
            </div>
            {% include "@snippets/shared/skeleton/navigation/desktop/subchild/navigation-subchild.twig" %}
        </li>
    {% endfor %}
</ul>
