{# burgermenu element #}
<input type="checkbox" id="burgermenu">
<label class="burgermenu-Label" for="burgermenu">
    <span class="burgermenu-Text">Menü</span>
</label>

{% include "@snippets/shared/skeleton/navigation/mobile/navigation.twig" %}
{% include "@snippets/shared/skeleton/navigation/desktop/navigation.twig" %}
