

<div class="developer">
    <ul class="row">
        <li class="col-xs-12 col-md-6 col-xl-4">
            <a  onclick="toggleHead()" class="developer-link dev--head">
                <div class="developer-title">
                    Header immer Schwarz
                </div>
                <div class="developer-text">
                    Konfiguriert den Header, dass er immer einen schwarzen Hintergrund hat.
                </div>
            </a>
        <li>
        <li class="col-xs-12 col-md-6 col-xl-4">
            <a  onclick="toggleAnker()" class="developer-link dev--anker">
                <div class="developer-title">
                    Ankermenu
                </div>
                <div class="developer-text">
                    Schaltet das Ankermenu, welches bei manchen Seiten der linken Seite erscheint.
                </div>
            </a>
        <li>
        <li class="col-xs-12 col-md-6 col-xl-4">
            <a  onclick="toggleNextprev()" class="developer-link dev--nextprev">
                <div class="developer-title">
                    Nächste/Vorherige Seite
                </div>
                <div class="developer-text">
                    Schaltet die Funktion ab um zur nächsten/ - oder vorherignen Seite zu gelangen.
                </div>
            </a>
        <li>
        <li class="col-xs-12 col-md-6 col-xl-4">
            <a  onclick="toggleFooter()" class="developer-link dev--foter">
                <div class="developer-title">
                    Entfernt den Footer Inhalt
                </div>
                <div class="developer-text">
                    Entfernt die TExte und Statistken des Footers.
                </div>
            </a>
        <li>
        <li class="col-xs-12 col-md-6 col-xl-4">
            <a  onclick="toggleLink()" class="developer-link dev--link">
                <div class="developer-title">
                    Deaktiviert die Link animation
                </div>
                <div class="developer-text">
                    Entfernt die Linkanimation mit Hintergrund.
                </div>
            </a>
        <li>
    </ul>
</div>



<script>
// function to set a given theme/color-scheme
function setTheme(themeName) {
    localStorage.setItem('a', themeName);
    document.documentElement.className = themeName;
    console.log('asf', this);
}

function aaa(themeName) {
    localStorage.setItem('b', themeName);
    document.documentElement.className = themeName;
}


function toggleHead() {
   if (localStorage.getItem('a') === 'dev--head'){setTheme('dev--');
   } else {setTheme('dev--head');}}
(function () {
   if (localStorage.getItem('a') === 'dev--head') {
       setTheme('dev--head');} else {setTheme('dev--');}
})();

function toggleAnker() {
   if (localStorage.getItem('b') === 'dev--anker'){aaa('dev--');
   } else {setTheme('dev--anker');}}
(function () {
   if (localStorage.getItem('b') === 'dev--anker') {
       aaa('dev--anker');} else {aaa('dev--');}
})();

function toggleNextprev() {
   if (localStorage.getItem('dev') === 'dev--nextprev'){setTheme('dev--');
   } else {setTheme('dev--nextprev');}}
(function () {
   if (localStorage.getItem('dev') === 'dev--nextprev') {
       setTheme('dev--nextprev');} else {setTheme('dev--');}
})();

function toggleFooter() {
   if (localStorage.getItem('dev') === 'dev--footer'){setTheme('dev--');
   } else {setTheme('dev--footer');}}
(function () {
   if (localStorage.getItem('dev') === 'dev--footer') {
       setTheme('dev--footer');} else {setTheme('dev--');}
})();

function toggleLink() {
   if (localStorage.getItem('dev') === 'dev--link'){setTheme('dev--');
   } else {setTheme('dev--link');}}
(function () {
   if (localStorage.getItem('dev') === 'dev--link') {
       setTheme('dev--link');} else {setTheme('dev--');}
})();

</script>

