.developer {
    &-link {
        padding: 20px;
        border: 1px solid $color-gray-lighter;
        background: $color-gray-light;
        color: $color-font-dark;
        display: block;
    margin-bottom: 20px;

        &:hover {
            transform: scale(1.05);
        }

        &.dev--head,
        &.dev--anker,
        &.dev--nextprev,
        &.dev--footer,
        &.dev--link {
            .dev--head &,
            .dev--anker &,
            .dev--nextprev &,
            .dev--footer &,
            .dev--link & {
            border: 1px solid $color-gray-darker;
            background: $color-gray-dark;
            color: $color-font-light;
        }  }
    }

    &-title {
        font-size: $font-size-large;
    }

}
