<footer class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    {# Info Block #}
                    <div class="footer-title">
                        Über {{site.title}}:
                        <span class="footer-title--dark">
                            {{site.titleTest}}
                        </span>
                    </div>
                    <p class="footer-text">
                        {% block footerInfo %}
                        {% endblock %}
                        <a href="{{ site.find('meta/about' )}}" class="float-right link">...weitere Informationen</a>
                    </p>

                </div>
                <div class="col-xs-12">
                    <div class="footer-line"></div>
                </div>
                <div class="col-xs-12">

                    {# Stats Block #}
                    <div class="footer-title">
                        Statistik <span class="footer-title--dark">(Seiten Insgesammt: {{site.index.listed.count}})</span>
                    </div>
                    <ul class="row">
                        {# {% set footerCounterPages = pages.find(footerCounterPages, footerCounterPages) %} #}
                        {% for item in footerCounterPages %}
                            {% set children = item.children.listed() %}
                            {% for child in children %}
                                <li class="col-xs-12 col-md-6 col-xl-4">
                                    <a href="{{child.url}}" class="footer-stats">
                                        <span class="footer-stats__number">
                                            {{child.children.count}}
                                        </span>
                                        <span class="footer-stats__text">
                                            {{child.title}}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>

                </div>
                <div class="col-xs-12">
                    <div class="footer-line"></div>
                </div>
                <div class="col-xs-12">

                    {# Links Block #}
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="footer-title">
                                Social
                            </div>
                            <ul class="footer-list">
                                {% for item in site.sozial.toStructure %}
                                    <li class="footer-item">
                                        <a class="footer-link {% if item.sozialLink is empty %}footer-link--disable{% endif %}" href="{{ item.sozialLink }}">
                                            {{ item.sozialtitle }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="footer-title">
                                Links
                            </div>
                            <ul class="footer-list">
                                {% for item in pages.find('contact', 'contact') %}
                                    {% set children = item.children %}
                                    {% if children.count > 0 %}
                                        {% for child in children %}
                                            <li class="footer-item">
                                                <a class="footer-link {% if not child.listed() %}footer-link--disable{% endif %}  {% if child.isOpen %}footer-link--active{% endif %}" href="{{child.url}}">
                                                    {{child.title}}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-xs-12 col-xl-4">
                            <div class="footer-copyright">
                                <div class="footer-title">
                                    © Copyright {{site.copyrightyear}} - {{ "now"|date("Y") }}
                                </div>
                                <div>
                                    Project: {{site.title}}<br/>
                                    <a href="mailto: {{site.email}}">{{site.author}}.</a>
                                    All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    Design, Programing and Content by {{site.author}}.
                </div>
            </div>
        </div>
    </div>
</footer>
