$footer-border:                     1px solid $color-gray-darker !default;
$footer-font-color:                 $color-font-dark !default;
$footer-content-spacing:            $spacing-huge !default;

$footer-title-color:                $color-font-light !default;
$footer-text-color-dark:            $color-gray-dark !default;

.footer {
    background-color: $color-black;
    color: $footer-font-color;

    &-inner {
        padding: $footer-content-spacing 0;
        border-bottom: $footer-border;
    }

    &-title {
        margin-bottom: $spacing-tiny;
        color: $footer-title-color;
        font-weight: $font-weight-bold;

        &--dark {
            color: $footer-text-color-dark;
            font-weight: $font-weight-base;;
        }
    }

    &-text {
        a {
            @extend %sfxTextBackground;
        }
    }

    &-line {
        margin-top: $footer-content-spacing;
        padding-top: $footer-content-spacing;
        border-top: $footer-border;
    }

    &-list {
        @include mq($until: md) {
            margin-bottom: $footer-content-spacing;
            padding-bottom: $footer-content-spacing;
            border-bottom: $footer-border;
        }
    }

    &-item {
        margin-bottom: $spacing-tiny;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-link {
        @extend %sfxTextBackground;

        &--active {
            color: $color-primary;
        }

        &--disable {
            @extend %sfxDisableLink;
        }
    }

    &-stats {
        @include sfxTextUnderline;

        display: inline-block;
        margin-bottom: $spacing-tiny;

        &__number {
            color: $color-font-light;
        }

        &__text {
            color: $color-font-dark;
        }
    }

    &-copyright {
        @include mq($from: md, $until: xl) {
            margin-top: $footer-content-spacing;
            padding-top: $footer-content-spacing;
            border-top: $footer-border;
        }

        @include mq($until: xl) {
            br {
                content: " ";
                display: inline;
                margin-right: $spacing-small;
            }
        }
    }

    &-bottom {
        padding: $spacing-small 0;
        color: $color-gray-dark;
        font-size: $font-size-small;
    }
}
