<div class="title">
    {{ page.title }}
</div>
<div class="about">
    <div class="row">
        <div class="col-xs-12 col-xl-2">
        </div>
            <div class="col-xs-12 col-xl-8">

                <h2>{{ site.title }}</h2>
                <h4>{{ site.titleText }}</h4>

                {% embed '@snippets/import-from-shared/module/about.twig' %}
                {% endembed %}

            </div>
        <div class="col-xs-12 col-xl-2">
        </div>
    </div>
</div>
