

@import 'subnav/navigation-subnav';
@import 'child/navigation-child';
@import 'subchild/navigation-subchild';



@include mq($until: xl) {
    .navigation {
        display: none;
    }
}
@include mq($from: xl) {



.navigation {
    transition: all 0.3s;

    &-wrapper {}

    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item {}

    &-link {
        @include sfxTextUnderline;

        padding: 10px 5px;
        color: $color-white;

        &:active,
        &--active,
        &-child--active {
            color: $color-gray-base;

            &::after {
                transform: scaleX(1);
            }
        }
    }

    .navigation-link--active + .navigation-flyout {
        max-height: 100vh;
    }

    &-flyout {
        @include flyout;
    }

    &-inner {
        @include flyoutinner;
    }

    &-content {
        @include flyoutcontent;
    }
}
}
