

{# navigation element #}
<navigation class="navigation" role="navigation">
    <ul class="navigation-list">

        {% include "@snippets/shared/skeleton/navigation/desktop/subnav/navigation-subnav.twig" %}

        {% for item in pages.listed() %}
            <li class="navigation-item">
                <a class="navigation-link" href="{{item.url}}">
                    {{item.title}}
                </a>

                {% set children = item.children().listed() %}
                {% if children %}
                    {% if item.hasChildren() %}
                        <div class="navigation-flyout">
                            <div class="navigation-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="navigation-content">

                                                {% include "@snippets/shared/skeleton/navigation/desktop/child/navigation-child.twig" %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </li>
        {% endfor %}

    </ul>
</navigation>

<script>
{# öööhmmm...  write it nicely or remove this shit #}
    function toggleItem(elem) {


    for (var i = 0; i < elem.length; i++) {
        elem[i].addEventListener("click", function(e) {
        var current = this;
           var element = document.querySelector(".header");


        for (var i = 0; i < elem.length; i++) {

            if (current != elem[i]) {

            elem[i].classList.remove('navigation-link--active');
            } else if (current.classList.contains('navigation-link--active') === true) {
            current.classList.remove('navigation-link--active');
                            element.classList.remove("header--background-fix");

            } else {
            current.classList.add('navigation-link--active');
                            element.classList.add("header--background-fix");





            }

        }


        e.preventDefault();
        });
    };
    }
    toggleItem(document.querySelectorAll('.navigation-link'));
</script>
