/* Snippet - Navigation Main
  ========================================================================= */
/* {# legacy code #}
 */

  $navigation-bgcolor: $color-primary;
  $navigation-color: $color-black;
  $navigation-color-hover: $color-gray-base;
  $navigation-sub-color: $color-gray-base;
  $navigation-sub-color-hover: $color-black;

 .navigation {
      transition: all .3s;
      background: black;
      font-size: $font-size-base;

      @include mq($until: xl) {

          overflow: scroll;
          // border-top: 2px solid $color-gray-base;
          position: absolute;
          // top: 50px;
          left: 0;
          z-index: 3;
          width: 100%;
          height: calc(100vh - 50px);
          background: rgba(244, 244, 244, 0.95);
          background-color: $color-primary;
          overflow-y: scroll !important;
          height: 100vh;
          display: block;
          font-size: $font-size-base;

          @include sfxCustomScrollbar;
      }

      &-list {
          @include mq($from: xl) {

              display: flex;
              align-items: center;
              justify-content: center;
          }
      }

      &-item {}

      &-link {
          z-index: 99;
          position: relative;
          @include mq($until: xl) {

              background: initial;
              color: white;
              margin-left: 10%;
              margin: 0 10%;
              font-weight: 300;
              color: $color-white;
              // font-size: 40px;
              &:active,
              &--active,
              &-child--active {
                  color: $color-white;
              }
          }
          @include mq($from: xl) {
              padding: 20px 15px 15px;
              color: $color-white;
              padding: 10px 5px;

              @include  sfxTextUnderline;

              &:active,
              &--active,
              &-child--active {
                  color: $color-gray-base;
                  &:after {
                      transform: scaleX(1);
                  }
              }
          }
          &:focus {
              background-color: initial;
          }
      }

      &-flyout {

          @include mq($from: xl) {

              max-height: 0;
          overflow: hidden;
          position: fixed;
          top: 60px;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100vw;
          height: calc(100vh - 65px);
          transition: all .3s;
          }
          @include mq($until: xl) {

              height: initial;
              position: initial;
          }
      }
     .navigation-link--active + .navigation-flyout {
          max-height: 100%;
          @include mq($from: xl) {

              max-height: 100vh;
          }
      }

      &-flyout__background {
          @include mq($from: xl) {

              width: 100%;
              background: rgba(244, 244, 244, 0.95);
              background: $navigation-bgcolor;
              height: 100%;
              position: absolute;
              top: 0;
              z-index: -1;
          }
      }

      &-flyout__inner {
          @include mq($from: xl) {

              padding: 20px;
              > .container > .row > .col-xs-12 {
                  position: relative;
                  &:after {
                      content: "";
                      position: fixed;
                      left: 0;
                      bottom: 0;
                      width: 100%;
                  }
              }
          }
      }

      &-subLink,
      &-thirdLink,
      &-fourLink {
          color: $color-primary-light;
          &:hover {
              color: $color-white;
          }
      }

      &-subText {
          color: $navigation-sub-color;
          font-size: $font-size-medium;
                    line-height: 1.7;
          padding: 0 !important;
          @include mq($from: xl) {

              padding-right: 30px !important;
          }
      }
      &-subList {
          @include mq($from: xl) {

              overflow-y: scroll;
              height: 80vh;
              display: block;
              padding-bottom: 200px;
          }

          @include sfxCustomScrollbar;
      }

      &-subItem {
          margin-bottom: 10px;
          padding-bottom: 10px;
          &--textActive {
              border-right: 1px solid black;
              padding: 20px;
              width: 40%;
              height: 100%;
          }
      }

      &-subLink {
          font-weight: 300;
          color: $color-white;
          font-size: $font-size-xlarge;
                    display: block;
          @include mq($until: xl) {

            font-size: $font-size-large;
           }

          .material-icons  {
              margin-left: 0;
              float: none!important;
          }
          &--active {
              &:after {
                  display:block;
                  content: '';
                  border-bottom: solid 2px $color-primary-light;
                  transform: scaleX(0);
                  transition: transform 250ms ease-in-out;
              }
          }
      }

      &-thirdList,
      &-fourList  {}

      &-thirdItem,
      &-fourItem {
          color: $navigation-sub-color;
          display: inline-block;
      }

      &-thirdLink,
      &-fourLink {
          color: $color-primary-light;
          &:hover {
              color: $color-white;
          }
          .material-icons  {
              margin-left: 0;
          }
      }
  }

