




@include mq($from: xl) {
    .nav {
        display: none;
    }
}

@include mq($until: xl) {


.nav {


    @include flyout;

    top: 0;
    height: 100vh;

	&-wrapper {
        border-top: 60px solid black;
        @include flyoutinner;
        padding: 0;
    }

    &-inner {
        height: calc(100vh - 60px);
    }


	&-items {
        height: calc(100vh - 60px);
        @include sfxCustomScrollbar;

	}

	&-item {
		&:not(:last-child) {
			border-bottom: solid 1px $color-primary-dark;
		}
	}

	&-link {
        justify-content: space-between;
        display: flex;
        align-items: center;

        &__icon {
            padding: 10px;
        }

        &__text {
            padding: 10px;
        }

        &--back {
            display: block;
            width: 100%;
            background-color: white;
        }
    }

    &-linkicon {

    }

	&-expand {
		.nav-inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			background-color: $color-primary-light;
			transition: 0.3s;
            visibility: hidden;

            .nav-expand & {
                background-color: $color-primary-dark;

            }
		}

		&.nav-item--active {
			> .nav-inner {
				transform: translateX(0);
				visibility: visible;
			}
		}

	}
}


}
