<nav class="nav"  role="navigation">
    <div class="nav-wrapper">
        <ul class="nav-items nav-level-1">
            {% for item in pages.listed() %}

                {# Navigation 1 Level #}
                {% if not item.hasChildren() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item.url}}">
                            <div class="nav-link__text">
                                {{item.title}}
                            </div>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item nav-expand">
                        <div class="nav-link">
                            <div class="nav-link__text">
                                {{item.title}}
                            </div>
                            {% if item.hasChildren() %}
                                <div class="nav-link__icon material-icons">chevron_right</div>
                            {% endif %}
                        </div>

                        {# Navigation 2 Level #}
                        <div class="nav-inner">
                        <ul class="nav-items">
                            <li class="nav-link nav-link--back">
                                <a class="nav-link" href="#">
                                    <div class="nav-link__text">
                                        Zurück
                                    </div>
                                </a>
                            </li>
                            {% set child = item.children().listed() %}
                            {% for children in child.listed() %}
                                {% if not children.hasChildren() %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{children.url}}">
                                            <div class="nav-link__text">
                                                {{children.title}}
                                            </div>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item nav-expand">
                                        <div class="nav-link">
                                            <div class="nav-link__text">
                                                {{children.title}}
                                            </div>
                                            {% if children.hasChildren() %}
                                                <div class="nav-link__icon material-icons">chevron_right</div>
                                            {% endif %}
                                        </div>

                                        {# Navigation 3 Level #}
                                        <div class="nav-inner">
                                        <ul class="nav-items">
                                            <li class="nav-link nav-link--back">
                                                <a class="nav-link" href="#">
                                                    <div class="nav-link__text">
                                                        Zurück
                                                    </div>
                                                </a>
                                            </li>
                                            {% set subchildren = children.children().listed() %}
                                            {% for subchild in subchildren %}
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{{subchild.url}}">
                                                        <div class="nav-link__text">
                                                            {{subchild.title}}
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        </div>

                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        </div>

                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>



<script>
    const navExpand = [].slice.call(document.querySelectorAll('.nav-expand'))

    navExpand.forEach(item => {
        item.querySelector('.nav-link').addEventListener('click', () => item.classList.add('nav-item--active'))
        item.querySelector('.nav-link--back').addEventListener('click', () => item.classList.remove('nav-item--active'))
    })
</script>
