<base href="{{ site.url }}" />

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<title>{{page.title}} - {{site.title}}</title>
<meta name="robots" content="noindex, nofollow">
<meta name="description" content="{{site.metaDescription}}">
<meta name="author" content="{{ site.author }}">

<link href="http://localhost:8080/assets/bundle.css" rel="stylesheet">
<link href="/assets/bundle.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link async href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700" rel="stylesheet">
