.home {
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-size: cover;
    background-position: center;
    position: relative;

    &-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &-content {
        max-width: 800px;
        margin-bottom: 10vh;
        z-index: 1;
    }

    &-inner {
        color: white;
        // font-size: 60px;
        // font-weight: 300;

        // letter-spacing: 23.2px;
        line-height: 1;
        display: inline-block;
        margin-left: 40px;

    }

    &-title {
      font-size: 25px;
      text-transform: uppercase;
    }

    &-title {
        font-size: 44px;

      @include mq($from: sm) {
        font-size: 67px;
      }
      // font-family: $fontfamily-typewriter;
      text-transform: uppercase;
      font-family: $font-family-primary;
      font-weight: $font-weight-lighter;

      border-bottom: 1px solid $color-font-base;
      margin-bottom: 10px;
      padding-bottom: 10px;
      text-shadow: 0 0 10px black;

      &::before {
          content: "Project";
            font-size: $font-size-medium;
            display: block;
            font-weight: $font-weight-bold;
            margin-left: 5px;
      }

      &__bold {
        font-weight: $font-weight-bold;
      }
    }

    &-text {
        line-height: 1.5;
        font-family: $font-family-primary;
color: $color-font-base;
      font-size: 17px;
      letter-spacing: 2px;
      text-shadow: 0 0 10px black;
    }
}
