<div class="home">
    <img class="home-image" src="{{ page.images(page.headerimage) }}">
    <div class="home-content">
        <div class="home-inner">
            <h1 class="home-title">
                 {{ site.titleSnippet1 }}
                <div class="home-title__bold">
                    {{ site.titleSnippet2 }}
                </div>
            </h1>
            <h2 class="home-text">
                {{ site.titleTest }}
            </h2>
        </div>
    </div>
</div>
