<div class="sitemap">
    <ul class="row">
        {% for item in pages.listed() %}
            <li class="col-xs-12">
                <span class="sitemap-label">
                    {{item.title}}
                </span>
                {% set children = item.children.listed() %}
                {% if children.count > 0 %}
                    <ul class="row">
                        {% for child in children %}
                            <li class="col-xs-12 col-sm-4 col-lg-3">
                                <a class="sitemap-link sitemap-2" href="{{child.url}}">
                                    {{child.title}}
                                </a>
                                {% set subchildren = child.children.listed() %}
                                {% if subchildren.count > 0 %}
                                    <ul class="row">
                                        {% for subchild in subchildren %}
                                            <li class="col-xs-12">
                                                <a class="sitemap-link sitemap-3" href="{{subchild.url}}">
                                                    {{subchild.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

