.sitemap {
    &-label {
        display: block;
        margin-bottom: $spacing-small;
        border-bottom: 1px solid $color-gray-base;
        color: $color-gray-base;
        font-size: $font-size-large;
        text-transform: uppercase;
    }

    &-link {
        display: block;
        padding: 2px 0;
        color: $color-gray-light;
        transition: all 0.3s;

        .sitemap-list & {
            margin-left: 10px;
        }

        &.sitemap-2 {
            margin-top: $spacing-medium;
            color: $color-gray-lighter;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }

        &.sitemap-3 {
            font-size: $font-size-small;
        }

        &:hover {
            padding-left: 5px;
        }
    }
}
